@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap'); /* FONTE - METAL MANIA */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); /* FONTE - ROBOTO SLAB */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap'); /* FONTE - ROBOTO */

:root {
    --cor-primaria: #000; /* Preto */
    --cor-secundaria: #d81116; /* Vermelho vibrante */
    --cor-tercearia: #6c757d; /* Cinza médio */
    --cor-fundo: #000; /* Preto */
    --cor-texto: #ffffff; /* Branco */
    --fonte-principal: 'Metal Mania', system-ui; /* Fonte personalizada para títulos */
    --fonte-titulo: 'Roboto Slab', system-ui; /* Fonte personalizada para subtítulos */
    --fonte-texto: 'Roboto', system-ui; /* Fonte personalizada para texto */
}

/* CONGIGURAÇÕES GERAIS */
body {
    background-color: var(--cor-fundo);
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

/* Título Principal */
h1, h2 {
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
}

/* Subtítulos */
h3, h4, h5, h6, a {
    font-family: var(--fonte-titulo);
    color: var(--cor-secundaria);
}

/* Texto Normal */
p, li, span, div {
    font-family: var(--fonte-texto);
    color: var(--cor-texto);
}

/* Linha Horizontal Customizada */
.linha-horizontal {
   border: 2px solid var(--cor-tercearia);
   margin: 20px 10px;
}


/* A PARTIR DAQUI MEXE NO home.html */

/* Container Principal (onde está os conteúdos) */
.cover-container {
  max-width: 42em;
}

/* Menu de Navegação */
/* mexe com os links dentro do menu */
.nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5); /* cor do link */
    border-bottom: .25rem solid transparent; /* adiciona uma linha embaixo do link */
}
/* com o mouse em cima (hover) e com o item clicado (focus)... */
.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25); /* ...deixe sublinhado */
}
/* dentro do menu: seleciona para modificar um link dentro do link */
.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem; /* adciona um espaçamento a esquerda dos links do menu */
}
/* dentro do menu: mexer com o item ativo (ver html para entender) */
.nav-masthead .active {
    color: #fff; /* deixa o item ativo branco */
    border-bottom-color: #fff; /* mostra um sublinhado embaixo  */
}

/* Logo */
#logo {
    width: 125px;
    height: auto;
}

/* Título e Texto */
#titulo-home {
    font-size: 4rem;
}
#texto-home {
    font-size: 1.25rem;
    margin-bottom: 30px; /* adiciona um espaçamento embaixo do texto */
}
/* A PARTIR DAQUI MEXE NO sobre.html */