@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap'); /* FONTE - METAL MANIA */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); /* FONTE - ROBOTO SLAB */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap'); /* FONTE - ROBOTO */

:root {
    --cor-primaria: #000; /* Preto */
    --cor-secundaria: #d81116; /* Vermelho vibrante */
    --cor-tercearia: #6c757d; /* Cinza médio */
    --cor-fundo: #000; /* Preto */
    --cor-texto: #ffffff; /* Branco */
    --fonte-principal: 'Metal Mania', system-ui; /* Fonte personalizada para títulos */
    --fonte-titulo: 'Roboto Slab', system-ui; /* Fonte personalizada para subtítulos */
    --fonte-texto: 'Roboto', system-ui; /* Fonte personalizada para texto */
}

/* CONGIGURAÇÕES GERAIS */
body {
    background-color: var(--cor-fundo);
    margin: 0;
    padding: 0;
}

/* Título Principal */
h1, h2 {
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
}

/* Subtítulos */
h3, h4, h5, h6, a {
    font-family: var(--fonte-titulo);
    color: var(--cor-secundaria);
}

/* Texto Normal */
p, li, span, div {
    font-family: var(--fonte-texto);
    color: var(--cor-texto);
}

/* Linha Horizontal Customizada */
.linha-horizontal {
   border: 2px solid var(--cor-tercearia);
   margin: 20px 10px;
}


/* A PARTIR DAQUI MEXE NO home.html */

/* Logo */
#logo {
    width: 150px;
    height: auto;
}

/* Carrossel */
#carouselExample .carousel-item img {
    width: 100%;
    height: auto;
}
.carousel-inner {
    border: 2px solid red;
}

/* A PARTIR DAQUI MEXE NO sobre.html */