@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap'); /* FONTE - METAL MANIA */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); /* FONTE - ROBOTO SLAB */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap'); /* FONTE - ROBOTO */

/* VARIÁVEIS GLOBAIS */
:root {
    --cor-primaria: #000; /* Preto */
    --cor-secundaria: #d81116; /* Vermelho vibrante */
    --cor-tercearia: #6c757d; /* Cinza médio */
    --cor-fundo: #000; /* Preto */
    --cor-texto: #ffffff; /* Branco */
    --cor-detalhes: rgba(216, 17, 22, 0.3);
    --cor-detalhes-claro: rgba( 255, 255, 255, 0.1);
    --fonte-principal: 'Metal Mania', system-ui; /* Fonte personalizada para títulos */
    --fonte-titulo: 'Roboto Slab', system-ui; /* Fonte personalizada para subtítulos */
    --fonte-texto: 'Roboto', system-ui; /* Fonte personalizada para texto */
}

/* CONGIGURAÇÕES GERAIS */
body {
    background-color: var(--cor-fundo);
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

/* Título Principal */
h1, h2 {
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
}

/* Subtítulos */
h3, h4, h5, h6, a {
    font-family: var(--fonte-titulo);
    color: var(--cor-secundaria);
}

/* Texto Normal */
p, li, span, div {
    font-family: var(--fonte-texto);
    color: var(--cor-texto);
}

/* Linha Horizontal Customizada */
.linha-horizontal {
   border: 2px solid var(--cor-tercearia);
}

/* Logo */
#logo {
    width: 125px;
    height: auto;
}

/* Menu de Navegação */
/* mexe com os links dentro do menu */
.nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5); /* cor do link */
    border-bottom: .25rem solid transparent; /* adiciona uma linha embaixo do link */
}
/* com o mouse em cima (hover) e com o item clicado (focus)... */
.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25); /* ...deixe sublinhado */
}
/* Dentro do menu: mexer com a aba ativa (ver html para entender) */
.nav-masthead .active {
    color: #fff; /* deixa o item ativo branco */
    border-bottom-color: #fff; /* mostra um sublinhado embaixo  */
}
/* Itens */
.item-menu {
    margin-left: 1rem; /* adciona um espaçamento a esquerda dos links do menu */
}

/* A PARTIR DAQUI MEXE NO home.html */

/* Container Principal (onde está os conteúdos) */
.cover-container {
  max-width: 42em;
}

/* Título e Texto */
#titulo-home, #titulo-obrigado {
    font-size: 4rem;
}
#texto-home, #texto-obrigado {
    font-size: 1.25rem;
    margin-bottom: 30px; /* adiciona um espaçamento embaixo do texto */
}

/* A PARTIR DAQUI MEXE NO portfolio.html */

/* Quadro das Imagens */
.quadro-portfolio {
    padding: 2rem 2rem;
    border-radius: 10px;
    border: 0.5px solid var(--cor-detalhes);
}

/* Imagens */
.foto-tattoo, .video-tattoo {
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* Moldura das Imagens */
.moldura-foto_tattoo {
    border: 1px solid var(--cor-tercearia);
    transition: ease-in-out 0.5s;
}
.moldura-foto_tattoo:hover {
    transform: scale(1.05); /* Aumenta a imagem levemente ao passar o mouse (scale) */
    border: 1px solid var(--cor-texto);
}

/* A PARTIR DAQUI MEXE NO sobre.html */

/* Foto do tatuador */
#foto-artista {
    aspect-ratio: 3/4;
    object-fit: cover;
}

/* A PARTIR DAQUI MEXE NO contato.html */
/* Localização do Estúdio */
#mapa_studio {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 50px;
}